
Pods/Pods.xcodeproj/xcuserdata/Liguo_Jiao.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
*.xcuserstate
.DS_Store
Pistacchio.xcodeproj/xcuserdata/Liguo_Jiao.xcuserdatad/xcschemes/*.plist
