<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArticleSearch</key>
	<string>https://api.nytimes.com/svc/search/v2/articlesearch.json</string>
	<key>StaticSource</key>
	<string>https://static01.nyt.com</string>
</dict>
</plist>
